.element__like{
  width: 22px;
  height: 19px;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: all ease .3s;
  background-image: url(../../../images/Group.png);
  border: none;
  background-color: transparent;
}

.element__like:hover{
  opacity: .7;
}

.element__like:active{
  background-image: url(../../../images/Union.png);
}
