.popup__input{
  border: none;
  border-bottom: 1px #545454 solid;
  width: 83.5%;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}


.popup__input:last-of-type{
  margin-top: 30px;
}

@media screen and (max-width: 550px) {
  .popup__input{
    width: 85%;
    margin-top: 0;
    font-size: 14px;
    line-height: 17px;
    padding: 6px 0;
  }

  .popup__input:last-of-type{
    margin-top: 28px;
  }
}
